:root {
    background-color: #191919;
    --primary: #c6a7ed;
    --secondary: white;
    color: var(--secondary);
}
.wrapper{
    /* background-color: #c6a7ed; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header-image {
    height: 500px;
    border: 50px solid var(--primary);

}
h1{
    font-family: "Arvo", serif;
}
.header-text{
    font-size: 6.5rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 1rem;

}

.header-text-group{
    margin-left: auto;
    padding: 4.5rem;
}

.header-text:nth-child(1) { 
    color: var(--primary);

}