h2{
    text-align: center;
}
table{
 background-color: lightskyblue;
 border:solid ;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}
tr:hover{
    background-color:yellow
}
td{
    width: 100px;
    height: 50px;
}

td:hover{
    background-color: green;
    
}
th:hover{
    background-color: green;
}
