body{
    background-color: #eee;
}

.face{
    width: 75px;
    height: 75px;
    background-color: Yellow;
    border-radius: 50px;
    border: solid 2px black;
}
.eye {
    width: 6px;
    height: 6px;
    border: solid 1px black;
    position: relative;
    background-color: white;
    border-radius: 3px;
}
.left {
    left:32px;
    top:26px;
}
.right {
    left:54px;
    top:18px;
}
.mouth{
    width: 30px;
    height: 10px;
    background-color: black;
    margin:16px;
    top: 16px;
    left: 16px;
    position: relative;
    border-radius: 0 0 45px 45px;
}