body {
    background-color: aqua;
  }
  
  .container {
    margin: 25px 50px;
  }
  
  .row {
    margin: 15px 0;
    display: flex;
    gap: 15px;
  }
  
  .col-4 {
    flex: 33.3%;
  }
  
  .col-8 {
    flex: 66.6%;
  }
  
  @media screen and (max-width: 680px) {
    .row {
      flex-direction: column;
    }
    .container {
      margin: 0;
    }
  }
  